<style>
	body {
		background: white !important;
	}
</style>
<nav class="sidebar-wrapper">
	<!-- Sidebar brand starts -->
	<div class="sidebar-brand">
		<a href="index.html" class="logo">
			<img src="{{ url_for('static', filename='assets/images/yuk.svg') }}" alt="Admin Dashboards" />
		</a>
	</div>
	<!-- Sidebar brand starts -->

	<!-- Sidebar menu starts -->
	<div class="sidebar-menu">
		<div class="sidebarMenuScroll">
			<ul>
				<li class="active">
					<a class="current-page" href="{{ url_for('secretary.secretary_dashboard') }}">
						<i class="bi bi-house"></i>
						<span class="menu-text"> Home</span>
					</a>
				</li>
				<li class="sidebar-dropdown">
					<a href="#">
						<i class="bi bi-person"></i>
						<span class="menu-text">Patients</span>
					</a>
					<div class="sidebar-submenu">
						<ul>
							<li>
								<a href="{{ url_for('secretary.patients_list') }}">patient List</a>
							</li>
							<li>
								<a href="{{ url_for('secretary.patients_add') }}">patient add</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="sidebar-dropdown">
					<a href="#">
						<i class="bi bi-people"></i>
						<span class="menu-text">Appointment</span>
					</a>
					<div class="sidebar-submenu">
						<ul>
							<li>
								<a href="{{ url_for('secretary.patients_appointment_list') }}">appointment List</a>
							</li>
							<li>
								<a href="{{ url_for('secretary.patients_appointment_add') }}">appointment add</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="sidebar-dropdown">
					<a href="#">
						<i class="bi bi-door-open"></i>
						<span class="menu-text">Bedroom</span>
					</a>
					<div class="sidebar-submenu">
						<ul>
							<li>
								<a href="{{ url_for('secretary.patients_bedroom_list') }}">Bedroom List</a>
							</li>
							<li>
								<a href="{{ url_for('secretary.patients_bedroom_add') }}">Bedroom Add</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="sidebar-dropdown">
					<a href="#">
						<i class="bi bi-file-text"></i>
						<span class="menu-text">Bill</span>
					</a>
					<div class="sidebar-submenu">
						<ul>
							<li>
								<a href="{{ url_for('secretary.patients_bill_list') }}">list</a>
							</li>
							<li>
								<a href="{{ url_for('secretary.patients_bill') }}">bill</a>
							</li>
							<li>
								<a href="{{ url_for('secretary.patients_bill_add') }}">New bill</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="{{ url_for('secretary.patients_messages') }}">
						<i class="bi bi-send"></i>
						<span class="menu-text">Message</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- Sidebar menu ends -->
</nav>
