<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Meta -->
		<meta name="description" content="Best Bootstrap Admin Dashboards" />
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/" />
		<meta property="og:url" content="https://www.bootstrap.gallery" />
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery" />
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards" />
		<meta property="og:type" content="Website" />
		<meta property="og:site_name" content="Bootstrap Gallery" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/yuk.svg') }}" />

		<!-- Title -->
		<title>yuk-up</title>

		<!-- *************
			************ Common Css Files *************
		************ -->

		<!-- Animated css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}" />

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/bootstrap/bootstrap-icons.css') }}" />

		<!-- Main css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.min.css') }}" />

		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/overlay-scroll/OverlayScrollbars.min.css') }}" />

		<!-- Bootstrap Select CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bs-select/bs-select.css') }}" />
		<style>
			.card-border:hover {
				background: #fbfdff;
				transform: scale(1.03);
				z-index: 15;
			}

			.card-border {
				border: 1px solid #004ec3;
				transition-duration: 500ms;
			}

			.card-borderHeight {
				height: 400px;
			}
		</style>
	</head>

	<body>
		<!-- Loading wrapper start -->
		<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">
			<!-- Sidebar wrapper start -->
			{{ render_sidebar()|safe }}

			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">
				<!-- Page header starts -->
				<div class="page-header">
					<div class="toggle-sidebar" id="toggle-sidebar">
						<i class="bi bi-list"></i>
					</div>

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-md-flex d-none">
						<li class="breadcrumb-item">
							<i class="bi bi-door-open"></i>
							<a href="secretairChambreFormulaire.html">Bedroom</a>
						</li>
						<li class="breadcrumb-item breadcrumb-active" aria-current="page">Add</li>
					</ol>
					<!-- Breadcrumb end -->

					<!-- Header actions ccontainer start -->
					<div class="header-actions-container">
						<!-- Search container start -->
						<div class="search-container">
							<!-- Search input group start -->
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search anything" />
								<button class="btn" type="button">
									<i class="bi bi-search"></i>
								</button>
							</div>
							<!-- Search input group end -->
						</div>
						<!-- Search container end -->

						<!-- Leads start -->
						<a href="orders.html" class="leads d-none d-xl-flex">
							<div class="lead-details">You have <span class="count"> 21 </span> Notifications</div>
							<span class="lead-icon"
								><i class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i
								><b class="dot animate__animated animate__heartBeat animate__infinite"></b
							></span>
						</a>
						<!-- Leads end -->

						<!-- Header actions start -->
						<ul class="header-actions">
							<li class="dropdown d-none d-md-block">
								<a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
									<img src="{{ url_for('static', filename='assets/images/flags/1x1/br.svg') }}" class="flag-img" alt="Admin Panels" />
								</a>
								<div class="dropdown-menu dropdown-menu-end mini" aria-labelledby="countries">
									<div class="country-container">
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/us.svg') }}" alt="Clean Admin Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/in.svg') }}" alt="Google Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/gb.svg') }}" alt="AI Admin Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/tr.svg') }}" alt="Modern Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/ca.svg') }}" alt="Best Admin Dashboards" />
										</a>
									</div>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									<span class="user-name d-none d-md-block">Abigale Heaney</span>
									<span class="avatar">
										<img src="{{ url_for('static', filename='assets/images/user.png') }}" alt="Admin Templates" />
										<span class="status online"></span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
									<div class="header-profile-actions">
										<a href="profile.html">Profile</a>
										<a href="account-settings.html">Settings</a>
										<a href="login.html">Logout</a>
									</div>
								</div>
							</li>
						</ul>
						<!-- Header actions end -->
					</div>
					<!-- Header actions ccontainer end -->
				</div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">
					<!-- Content wrapper start -->

					<div class="content-wrapper">
						<!-- Row start -->
						<div class="row mt-2">
							<div class="col-sm-12 col-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-sm-6 col-12">
												<div class="card-border card-borderHeight">
													<div class="card-border-title">Bedroom</div>
													<div class="card-border-body">
														<div class="row">
															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">Name <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-person"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="patient name" />

																		<div class="invalid-feedback">Please provide a Name.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">Numero batiment <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-person"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="patient name" />

																		<div class="invalid-feedback">Please provide a number.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">Numero Etage <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-person"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="patient name" />

																		<div class="invalid-feedback">Please provide a Number.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">tyoe de chambre</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  quaility" data-live-search="true">
																		<optgroup label="">
																			<option>Prive</option>
																			<option>Semi Partage</option>
																			<option>Partage</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">quality</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  quaility" data-live-search="true">
																		<optgroup label="">
																			<option>medium</option>
																			<option>low</option>
																			<option>high</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">catgeroy</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="Dentaire">
																			<option>accouchement</option>
																			<option>Samsung</option>
																			<option>Motorola</option>
																		</optgroup>
																		<optgroup label="Laptops">
																			<option>Apple</option>
																			<option>Dell</option>
																			<option>Lenovo</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-sm-6 col-12">
												<div class="card-border card-borderHeight">
													<div class="card-border-title">Bed</div>
													<div class="card-border-body">
														<div class="row">
															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">Nombre de Lit <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-person"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="patient name" />

																		<div class="invalid-feedback">Please provide a numberNombre de lits.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label class="form-label d-flex">Lit disponible</label>

																	<select required="" class="select-multiple js-states form-control" title="Select Product Category" multiple="multiple">
																		<option>Lit1</option>
																		<option>Lit 2</option>
																		<option>Lit 3</option>
																	</select>

																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label class="form-label d-flex"> Type de tarification </label>

																	<select id="validationCustom04" required="" class="select-multiple js-states form-control" title="Select Product Category" multiple="multiple">
																		<option>journalier</option>
																		<option>semaine</option>
																		<option>mois</option>
																		<option>Horaire</option>
																		<option>nuit passe 3</option>
																	</select>

																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<div class="form-label">
																		<label for="input-numeral-thousand">
																			Montant
																			<span class="text-red">*</span>
																		</label>
																	</div>
																	<div class="input-group">
																		<span class="input-group-text">
																			<i class="bi bi-calendar4"></i>
																		</span>
																		<input type="text" class="form-control" id="input-numeral-thousand" />
																		<span class="input-group-text">
																			<i> $</i>
																		</span>
																	</div>
																	<div class="invalid-feedback">Please provide a valid amount.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-12">
												<div class="card-border">
													<div class="card-border-title">Disponibilté</div>
													<div class="card-border-body">
														<div class="row">
															<div class="col-sm-6 col-12">
																<div class="mb-5 row">
																	<div class="mb-3 col-xl-12 col-sm-12 col-12">
																		<div class="col-xl-12 col-sm-12 col-12">
																			<div class="form-check">
																				<label class="form-check-label" for="flexCheckChecked"> Disponibilté de la chambre</label>
																			</div>
																		</div>
																	</div>
																	<div class="col-xl-6 col-sm-6 col-12">
																		<div class="card">
																			<div class="card-body">
																				<div class="form-check form-switch">
																					<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" />
																					<label class="form-check-label" for="flexRadioDefault2">Diponible</label>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-xl-6 col-sm-6 col-12">
																		<div class="card">
																			<div class="card-body">
																				<div class="form-check form-switch">
																					<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked />
																					<label class="form-check-label" for="flexSwitchCheckChecked">Occupé</label>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="row">
																	<div class="mb-3 col-xl-12 col-sm-12 col-12">
																		<div class="col-xl-12 col-sm-12 col-12">
																			<div class="form-check">
																				<label class="form-check-label" for="flexCheckChecked">Rappel de Disponibilté</label>
																			</div>
																		</div>
																	</div>
																	<div class="col-xl-6 col-sm-6 col-12">
																		<div class="card">
																			<div class="card-body">
																				<div class="form-check form-switch">
																					<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" />
																					<label class="form-check-label" for="flexRadioDefault2">oui</label>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-xl-6 col-sm-6 col-12">
																		<div class="card">
																			<div class="card-body">
																				<div class="form-check form-switch">
																					<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked />
																					<label class="form-check-label" for="flexSwitchCheckChecked">Non</label>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-sm-12 col-12">
												<div class="custom-btn-group flex-end">
													<button type="button" class="btn btn-light">Cancel</button>
													<a href="secretaireChambreList.html" class="btn btn-success">Add Bedroom</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->
					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->
				</div>
				<!-- Content wrapper scroll end -->
			</div>
			<!-- *************
				************ Main container end *************
			************* -->
		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/modernizr.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/moment.js') }}"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="{{ url_for('static', filename='assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/overlay-scroll/custom-scrollbar.js') }}"></script>

		<!-- Input Mask JS -->
		<script src="{{ url_for('static', filename='assets/vendor/input-masks/cleave.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/input-masks/cleave-phone.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/input-masks/cleave-custom.js') }}"></script>

		<!-- Bootstrap Select JS -->
		<script src="{{ url_for('static', filename='assets/vendor/bs-select/bs-select.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/bs-select/bs-select-custom.js') }}"></script>
		<!-- Main Js Required -->
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	</body>
</html>
