<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Meta -->
		<meta name="description" content="Best Bootstrap Admin Dashboards" />
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/" />
		<meta property="og:url" content="https://www.bootstrap.gallery" />
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery" />
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards" />
		<meta property="og:type" content="Website" />
		<meta property="og:site_name" content="Bootstrap Gallery" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/yuk.svg') }}" />

		<!-- Title -->
		<title>yuk-up</title>

		<!-- *************
			************ Common Css Files *************
		************ -->

		<!-- Animated css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}" />

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/bootstrap/bootstrap-icons.css') }}" />

		<!-- Main css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.min.css') }}" />

		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/overlay-scroll/OverlayScrollbars.min.css') }}" />

		<style>
			.transactions-container .transaction-block .transaction-details p {
				width: 165px !important;
				margin-top: 8px !important;
			}
			.transaction-details {
				margin-left: 5px !important;
			}
			.transactions-container .transaction-block {
				margin: 0 0 20px 0 !important;
				padding: 8px;
			}

			.activity-container {
				margin: 0 0 0 0 !important;
			}

			.activity-container .activity-block .activity-user {
				margin: 0 0px 0 0 !important;
			}
			.scroll370 {
				height: 600px !important;
			}
			.card .card-body {
				padding: 1rem 0.45rem !important;
			}
			body {
				background: #ffffff;
			}
			.transactions-container {
				margin: 0 0 0 0;
			}
			ul.user-messages li {
				margin-bottom: 0;
			}
			ul.user-messages {
				margin: 0 0 0 0;
			}
			.transaction-block:hover {
				background: #00000014;
				color: white;
				/* padding: 8px; */
				border-radius: 15px;
			}

			.scroll300 {
				height: 100% !important ;
			}
		</style>
	</head>

	<body>
		<!-- Loading wrapper start -->
		<div id="loading-wrapper">
			<div class="spinner">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
			</div>
		</div>
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">
			<!-- Sidebar wrapper start -->
			{{ render_sidebar()|safe }}

			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">
				<!-- Page header starts -->
				<div class="page-header">
					<div class="toggle-sidebar" id="toggle-sidebar">
						<i class="bi bi-list"></i>
					</div>

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-md-flex d-none">
						<li class="breadcrumb-item breadcrumb-active" aria-current="page">
							<i class="bi bi-send"></i>
							<a href="secretaireMessage.html">Message</a>
						</li>
					</ol>
					<!-- Breadcrumb end -->

					<!-- Header actions ccontainer start -->
					<div class="header-actions-container">
						<!-- Search container start -->
						<div class="search-container">
							<!-- Search input group start -->
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search anything" />
								<button class="btn" type="button">
									<i class="bi bi-search"></i>
								</button>
							</div>
							<!-- Search input group end -->
						</div>
						<!-- Search container end -->

						<!-- Leads start -->
						<a href="orders.html" class="leads d-none d-xl-flex">
							<div class="lead-details">You have <span class="count"> 21 </span> Notifications</div>
							<span class="lead-icon"
								><i class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i
								><b class="dot animate__animated animate__heartBeat animate__infinite"></b
							></span>
						</a>
						<!-- Leads end -->

						<!-- Header actions start -->
						<ul class="header-actions">
							<li class="dropdown d-none d-md-block">
								<a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
									<img src="{{ url_for('static', filename='assets/images/flags/1x1/br.svg') }}" class="flag-img" alt="Admin Panels" />
								</a>
								<div class="dropdown-menu dropdown-menu-end mini" aria-labelledby="countries">
									<div class="country-container">
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/us.svg') }}" alt="Clean Admin Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/in.svg') }}" alt="Google Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/gb.svg') }}" alt="AI Admin Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/tr.svg') }}" alt="Modern Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/ca.svg') }}" alt="Best Admin Dashboards" />
										</a>
									</div>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									<span class="user-name d-none d-md-block">Abigale Heaney</span>
									<span class="avatar">
										<img src="{{ url_for('static', filename='assets/images/user.png') }}" alt="Admin Templates" />
										<span class="status online"></span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
									<div class="header-profile-actions">
										<a href="profile.html">Profile</a>
										<a href="account-settings.html">Settings</a>
										<a href="login.html">Logout</a>
									</div>
								</div>
							</li>
						</ul>
						<!-- Header actions end -->
					</div>
					<!-- Header actions ccontainer end -->
				</div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">
					<!-- Content wrapper start -->
					<div class="content-wrapper">
						<!-- Row start -->
						<div class="row">
							<div class="col-sm-3 col-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Transactions</div>
									</div>
									<div class="card-body">
										<div class="scroll370">
											<div class="transactions-container">
												<div class="transaction-block">
													<ul class="user-messages">
														<li>
															<div class="activity-container">
																<div class="activity-block">
																	<div class="activity-user">
																		<img src="{{ url_for('static', filename='assets/images/user.png') }}" alt="Activity User" />
																	</div>
																</div>
															</div>
														</li>
													</ul>
													<div class="transaction-details">
														<h4>Dr toto tata</h4>
														<p class="text-truncate">Thanks for choosing Apple product, further if you have any questions please contact sales team</p>
													</div>
													<div class="transaction-amount text-green">2</div>
												</div>

												<div class="transaction-block">
													<ul class="user-messages">
														<li>
															<div class="customer shade-blue">MK</div>
														</li>
													</ul>
													<div class="transaction-details">
														<h4>Dr toto tata</h4>
														<p class="text-truncate">Thanks for choosing Apple product, further if you have any questions please contact sales team</p>
													</div>
													<div class="transaction-amount text-green">2</div>
												</div>

												<div class="transaction-block">
													<ul class="user-messages">
														<li>
															<div class="customer shade-red">JK</div>
														</li>
													</ul>
													<div class="transaction-details">
														<h4>Dr toto tata</h4>
														<p class="text-truncate">Thanks for choosing Apple product, further if you have any questions please contact sales team</p>
													</div>
													<div class="transaction-amount text-green">2</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-9 col-12">
								<div class="card" style="height: 95%">
									<div class="card-header">
										<div class="card-title">Chat</div>
									</div>
									<div class="card-body" style="justify-content: space-between; display: flex; flex-direction: column">
										<div class="scroll300">
											<ul class="chats">
												<li class="chats-left">
													<div class="chats-avatar">
														<img src="{{ url_for('static', filename='assets/images/user.png') }}" alt="Admin Panel" />
														<div class="chats-name">Alisa</div>
													</div>
													<div class="chats-text">Explore the history of the classic Lorem Ipsum passage and generate.</div>
													<div class="chats-hour">08:55 <span class="icon-done_all"></span></div>
												</li>
												<li class="chats-right">
													<div class="chats-avatar">
														<img src="{{ url_for('static', filename='assets/images/user6.png') }}" alt="Admin Panel" />
														<div class="chats-name">You</div>
													</div>
													<div class="chats-text">Your own text using any number of characters, words, sentences or paragraphs.</div>
													<div class="chats-hour">08:56 <span class="icon-done_all"></span></div>
												</li>
												<li class="chats-left">
													<div class="chats-avatar">
														<img src="{{ url_for('static', filename='assets/images/user.png') }}" alt="Admin Panel" />
														<div class="chats-name">Alisa</div>
													</div>
													<div class="chats-text">Commonly used as placeholder text in the graphic and print industries.</div>
													<div class="chats-hour">08:57 <span class="icon-done_all"></span></div>
												</li>
												<li class="chats-right">
													<div class="chats-avatar">
														<img src="{{ url_for('static', filename='assets/images/user6.png') }}" alt="Admin Panel" />
														<div class="chats-name">You</div>
													</div>
													<div class="chats-text">Lorem Ipsum's origins extend far back to a scrambled Latin passage from Cicero in the middle ages.</div>
													<div class="chats-hour">08:59 <span class="icon-done_all"></span></div>
												</li>
												<li class="chats-left">
													<div class="chats-avatar">
														<img src="{{ url_for('static', filename='assets/images/user.png') }}" alt="Admin Panel" />
														<div class="chats-name">Alisa</div>
													</div>
													<div class="chats-text">
														In publishing and graphic design, lorem ipsum is a filler text or greeking commonly used to demonstrate the textual elements.
													</div>
													<div class="chats-hour">09:00 <span class="icon-done_all"></span></div>
												</li>
												<li class="chats-right">
													<div class="chats-avatar">
														<img src="{{ url_for('static', filename='assets/images/user6.png') }}" alt="Admin Panel" />
														<div class="chats-name">You</div>
													</div>
													<div class="chats-text">
														A graphic document or visual presentation. Replacing meaningful content with placeholder text allows designers to design the form of the content before
														the content itself has been produced.
													</div>
													<div class="chats-hour">09:00 <span class="icon-done_all"></span></div>
												</li>
												<li class="chats-left">
													<div class="chats-avatar">
														<img src="{{ url_for('static', filename='assets/images/user.png') }}" alt="Admin Panel" />
														<div class="chats-name">Alisa</div>
													</div>
													<div class="chats-text">
														Lorem Ipsum is also known as: Greeked text, blind text, placeholder text, dummy content, filler text, lipsum, and mock-content.
													</div>
													<div class="chats-hour">09:01 <span class="icon-done_all"></span></div>
												</li>
												<li class="chats-right">
													<div class="chats-avatar">
														<img src="{{ url_for('static', filename='assets/images/user6.png') }}" alt="Admin Panel" />
														<div class="chats-name">You</div>
													</div>
													<div class="chats-text">Lorem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mockup.</div>
													<div class="chats-hour">09:01 <span class="icon-done_all"></span></div>
												</li>
											</ul>
										</div>

										<div class="row">
											<div class="col-sm-12 col-12">
												<div class="mb-3">
													<div class="input-group">
														<input id="DoctorName" type="text" class="form-control" placeholder="new mwssage" />
														<span class="input-group-text"><i class="bi bi-send"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->
					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->
				</div>
				<!-- Content wrapper scroll end -->
			</div>
			<!-- *************
				************ Main container end *************
			************* -->
		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/modernizr.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/moment.js') }}"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="{{ url_for('static', filename='assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/overlay-scroll/custom-scrollbar.js') }}"></script>

		<!-- Apex Charts -->
		<script src="{{ url_for('static', filename='assets/vendor/apex/apexcharts.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/apex/custom/sales/salesGraph.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/apex/custom/sales/revenueGraph.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/apex/custom/sales/taskGraph.js') }}"></script>

		<!-- Main Js Required -->
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	</body>
</html>
