<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Meta -->
		<meta name="description" content="Best Bootstrap Admin Dashboards" />
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/" />
		<meta property="og:url" content="https://www.bootstrap.gallery" />
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery" />
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards" />
		<meta property="og:type" content="Website" />
		<meta property="og:site_name" content="Bootstrap Gallery" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/yuk.svg') }}" />

		<!-- Title -->
		<title>yuk-up</title>

		<!-- *************
			************ Common Css Files *************
		************ -->

		<!-- Animated css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}" />

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/bootstrap/bootstrap-icons.css') }}" />

		<!-- Main css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.min.css') }}" />

		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/overlay-scroll/OverlayScrollbars.min.css') }}" />

		<!-- Date Range CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/daterange/daterange.css') }}" />

		<!-- Bootstrap Select CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bs-select/bs-select.css') }}" />
		<style>
			.card-border {
				border: 1px solid #004ec3;
				height: 400px;
			}
			body {
				background-color: white;
			}
			.card-border:hover {
				background: #fbfdff;
				transition-duration: 500ms;
				transform: scale(1.03);
				z-index: 15;
			}
			.card-border {
				transition-duration: 500ms;
			}
		</style>
	</head>

	<body>
		<!-- Loading wrapper start -->
		<div id="loading-wrapper">
			<div class="spinner">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
			</div>
		</div>
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">
			<!-- Sidebar wrapper start -->
			{{ render_sidebar()|safe }}

			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">
				<!-- Page header starts -->
				<div class="page-header">
					<div class="toggle-sidebar" id="toggle-sidebar">
						<i class="bi bi-list"></i>
					</div>

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-md-flex d-none">
						<li class="breadcrumb-item">
							<i class="bi bi-person"></i>
							<a href="index.html">Patient</a>
						</li>

						<li class="breadcrumb-item breadcrumb-active" aria-current="page">Add</li>
					</ol>
					<!-- Breadcrumb end -->

					<!-- Header actions ccontainer start -->
					<div class="header-actions-container">
						<!-- Search container start -->
						<div class="search-container">
							<!-- Search input group start -->
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search anything" />
								<button class="btn" type="button">
									<i class="bi bi-search"></i>
								</button>
							</div>
							<!-- Search input group end -->
						</div>
						<!-- Search container end -->

						<!-- Leads start -->
						<a href="orders.html" class="leads d-none d-xl-flex">
							<div class="lead-details">You have <span class="count"> 21 </span> notifications</div>
							<span class="lead-icon"
								><i class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i
								><b class="dot animate__animated animate__heartBeat animate__infinite"></b
							></span>
						</a>
						<!-- Leads end -->

						<!-- Header actions start -->
						<ul class="header-actions">
							<li class="dropdown d-none d-md-block">
								<a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
									<img src="{{ url_for('static', filename='assets/images/flags/1x1/br.svg') }}" class="flag-img" alt="Admin Panels" />
								</a>
								<div class="dropdown-menu dropdown-menu-end mini" aria-labelledby="countries">
									<div class="country-container">
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/us.svg') }}" alt="Clean Admin Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/in.svg') }}" alt="Google Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/gb.svg') }}" alt="AI Admin Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/tr.svg') }}" alt="Modern Dashboards" />
										</a>
										<a href="index.html">
											<img src="{{ url_for('static', filename='assets/images/flags/1x1/ca.svg') }}" alt="Best Admin Dashboards" />
										</a>
									</div>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									<span class="user-name d-none d-md-block">Abigale Heaney</span>
									<span class="avatar">
										<img src="{{ url_for('static', filename='assets/images/user.png') }}" alt="Admin Templates" />
										<span class="status online"></span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
									<div class="header-profile-actions">
										<a href="profile.html">Profile</a>
										<a href="account-settings.html">Settings</a>
										<a href="login.html">Logout</a>
									</div>
								</div>
							</li>
						</ul>
						<!-- Header actions end -->
					</div>
					<!-- Header actions ccontainer end -->
				</div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">
					<!-- Content wrapper start -->
					<div class="content-wrapper">
						<!-- Row start -->
						<div class="row mt-2">
							<div class="col-sm-12 col-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div style="height: max-content" class="col-sm-6 col-12">
												<div class="card-border">
													<div class="card-border-title">Informations personnelles</div>
													<div class="card-border-body">
														<div class="row">
															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">Nom du patient <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-person"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="nom du patient" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">Prenom du patient <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-person"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="prenom du patient" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<div class="form-label">
																		<label for="date">
																			Date de naissance
																			<span class="text-red">*</span>
																		</label>
																	</div>
																	<div class="input-group">
																		<span class="input-group-text">
																			<i class="bi bi-calendar4"></i>
																		</span>
																		<input id="date" required="" type="text" class="form-control datepicker-time-24" />
																	</div>
																	<div class="invalid-feedback">Please provide a valid patient name.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">Lieu de Naissance <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-person"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="Lieu de Naissance" />

																		<div class="invalid-feedback">Please Lieu de Naissance</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<div class="row">
																		<div class="col-xl-12 col-sm-6 col-12">
																			<div class="form-check" style="padding: 0">
																				<label style="margin: 0" class="form-check-label" for="flexCheckChecked">Sexe</label>
																			</div>
																		</div>
																		<div class="col-xl-4 col-sm-6 col-12">
																			<div class="form-check">
																				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
																				<label class="form-check-label" for="flexCheckChecked">Femme</label>
																			</div>
																		</div>
																		<div class="col-xl-4 col-sm-6 col-12">
																			<div class="form-check">
																				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
																				<label class="form-check-label" for="flexCheckChecked">Homme</label>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">civilite</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<option>célibataire</option>
																		<option>marié</option>
																		<option>divorcé</option>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div style="height: max-content" class="col-sm-6 col-12">
												<div class="card-border">
													<div class="card-border-title">Informations personnelles</div>
													<div class="card-border-body">
														<div class="row">
															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label"> <span>Numero de telephone*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-telephone"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="Numero de telephone" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="DoctorName" class="form-label">email <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-envelope"></i></span>
																		<input required="" id="DoctorName" type="text" class="form-control" placeholder="email" />

																		<div class="invalid-feedback">Please provide a valid Doctor name.</div>
																	</div>
																</div>
															</div>
															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">Adress <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="patient name" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Nationalité</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="Afrique">
																			<option>Camerounais</option>
																			<option>tchadien</option>
																			<option>Nigerien</option>
																		</optgroup>
																		<optgroup label="Europe">
																			<option>Francais</option>
																			<option>Belge</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">N° CNI <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="CNI" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- information demographique -->
											<div style="height: max-content" class="col-sm-6 col-12">
												<div class="card-border">
													<div class="card-border-title">Informations demographique</div>
													<div class="card-border-body">
														<div class="row">
															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Origine ethnique</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="ehtnie1">
																			<option>aucun</option>
																			<option>blanc</option>
																			<option>noir/afro-descendant</option>
																		</optgroup>
																		<optgroup label="ethnie2">
																			<option>asiatique</option>
																			<option>latino/hispanique</option>
																			<option>métis</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>
															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">
																		Langue maternelle
																		<span>*</span></label
																	>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-telephone"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="langue(s) principale(s) parlée(s) à la maison" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Niveau d'éducation</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="primaire">
																			<option>CEP</option>
																		</optgroup>
																		<optgroup label="secondaire">
																			<option>BEPC</option>
																			<option>PROBATOIRE</option>
																			<option>BACCALAUREAT</option>
																		</optgroup>
																		<optgroup label="universitaire">
																			<option>lICENSE</option>
																			<option>MASTER</option>
																			<option>AUTRE</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Statut de résidence</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="STATUT">
																			<option>permanent</option>
																			<option>résident</option>
																			<option>citoyen</option>
																			<option>réfugié</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Milieu de vie</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="CHOIX">
																			<option>rural</option>
																			<option>urbain</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Religion </label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="STATUT">
																			<option>chretien</option>
																			<option>mulsuman</option>
																			<option>payen</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- information Professionel -->
											<div style="height: max-content" class="col-sm-6 col-12">
												<div class="card-border">
													<div class="card-border-title">Informations professionnelles</div>
													<div class="card-border-body">
														<div class="row">
															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">
																		Profession
																		<span>*</span></label
																	>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-telephone"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="Profession" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">
																		Nom de l'employeur
																		<span>*</span></label
																	>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-telephone"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="Nom de l'employeur" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">
																		Téléphone de l'employeur
																		<span>*</span></label
																	>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-telephone"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="Nom de l'employeur" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">
																		Adresse de l'employeur
																		<span>*</span></label
																	>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-telephone"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="Adresse de l'employeur" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Type de contrat de travail</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="">
																			<option>CDI</option>
																			<option>CDD</option>
																			<option>INDEOENDANT</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- information medical 
											 
											Activité physique régulière
											Consommation de tabac
											Consommation d'alcool
											Groupe sanguin
											Vaccinations à jour (oui/non
											nom du médicament, dosage, fréquence
											-->
											<div style="height: max-content" class="col-sm-6 col-12">
												<div class="card-border">
													<div class="card-border-title">Informations medicales</div>
													<div class="card-border-body">
														<div class="row">
															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Antécédents médicaux</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="maladie">
																			<option>aucun</option>
																			<option>allergies</option>
																			<option>hypertension</option>
																		</optgroup>
																		<optgroup label="allergies">
																			<option>alimentaires</option>
																			<option>médicamenteuses</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Antécédents familiaux</label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="maladie">
																			<option>aucun</option>
																			<option>maladies héréditaires</option>
																			<option>hypertension</option>
																		</optgroup>
																		<optgroup label="maladie">
																			<option>diabète</option>
																			<option>Belge</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">
																		Médicaments actuels
																		<span>*</span></label
																	>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-telephone"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="Médicaments actuels" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="DoctorName" class="form-label">Traitements actuels <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-envelope"></i></span>
																		<input required="" id="DoctorName" type="text" class="form-control" placeholder="Traitements actuels" />

																		<div class="invalid-feedback">Please provide a valid Doctor name.</div>
																	</div>
																</div>
															</div>
															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<div class="row">
																		<div class="col-xl-12 col-sm-6 col-12">
																			<div class="form-check" style="padding: 0">
																				<label style="margin: 0" class="form-check-label" for="flexCheckChecked">Fummeur</label>
																			</div>
																		</div>
																		<div class="col-xl-4 col-sm-6 col-12">
																			<div class="form-check">
																				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
																				<label class="form-check-label" for="flexCheckChecked">OUI</label>
																			</div>
																		</div>
																		<div class="col-xl-4 col-sm-6 col-12">
																			<div class="form-check">
																				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
																				<label class="form-check-label" for="flexCheckChecked">NON</label>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- Informations sur l'assurance -->
											<div style="height: max-content" class="col-sm-6 col-12">
												<div class="card-border">
													<div class="card-border-title">Informations sur l'assurance</div>
													<div class="card-border-body">
														<div class="row">
															<div class="col-sm-12 col-12">
																<div class="col-sm-6 col-12">
																	<div class="mb-3">
																		<div class="row">
																			<div class="col-xl-12 col-sm-6 col-12">
																				<div class="form-check" style="padding: 0">
																					<label style="margin: 0" class="form-check-label" for="flexSwitchCheckChecked">Assurance Pris en Charge</label>
																				</div>
																			</div>
																			<div class="col-xl-4 col-sm-6 col-12">
																				<div class="form-check form-switch">
																					<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" />
																					<label class="form-check-label" for="flexSwitchCheckChecked">oui</label>
																				</div>
																			</div>
																			<div class="col-xl-4 col-sm-6 col-12">
																				<div class="form-check form-switch">
																					<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked />
																					<label class="form-check-label" for="flexSwitchCheckChecked">Non</label>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">
																		Nom de la compagnie d'assurance
																		<span>*</span></label
																	>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-telephone"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="Entrer le nom" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="DoctorName" class="form-label">Numéro de police d'assurance <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-envelope"></i></span>
																		<input required="" id="DoctorName" type="text" class="form-control" placeholder="Traitements actuels" />

																		<div class="invalid-feedback">Please provide a valid Doctor name.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<div class="form-label">
																		<label for="date">
																			Date d'expiration de l'assurance
																			<span class="text-red">*</span>
																		</label>
																	</div>
																	<div class="input-group">
																		<span class="input-group-text">
																			<i class="bi bi-calendar4"></i>
																		</span>
																		<input id="date" required="" type="text" class="form-control datepicker-time-24" />
																	</div>
																	<div class="invalid-feedback">Please provide a valid patient name.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Soin couverts </label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="STATUT">
																			<option>Medicaux</option>
																			<option>dentaire</option>
																			<option>ophtamologue</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- Informations sur les personnes a contacter -->
											<div style="height: max-content" class="col-sm-6 col-12">
												<div class="card-border">
													<div class="card-border-title">Contact d'urgence</div>
													<div class="card-border-body">
														<div class="row">
															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="validationCustom01" class="form-label">
																		Nom du contact d'urgence
																		<span>*</span></label
																	>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-telephone"></i></span>
																		<input required="" id="validationCustom01" type="text" class="form-control" placeholder="Entrer le nom" />

																		<div class="invalid-feedback">Please provide a valid zip.</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3 was-validated">
																	<label for="validationCustom04" class="form-label d-flex">Relation avec le patient </label>
																	<select class="select-single js-states form-control" id="validationCustom04" required="" title="Select soin  Category" data-live-search="true">
																		<optgroup label="Relation">
																			<option>Fraternelle</option>
																			<option>Tuteur</option>
																			<option>Autre</option>
																		</optgroup>
																	</select>
																	<div class="invalid-feedback">Please select a valid state.</div>
																</div>
															</div>

															<div class="col-sm-6 col-12">
																<div class="mb-3">
																	<label for="DoctorName" class="form-label">N° de téléphone du contact d'urgence <span class="text-red">*</span></label>
																	<div class="input-group was-validated">
																		<span class="input-group-text"><i class="bi bi-envelope"></i></span>
																		<input required="" id="DoctorName" type="text" class="form-control" placeholder="Entrer le numero" />

																		<div class="invalid-feedback">Please provide a valid Doctor name.</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-12 col-12">
													<div class="custom-btn-group flex-end">
														<button type="button" class="btn btn-light">Cancel</button>
														<a href="listepatient.html" class="btn btn-success">Add Patient</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Row end -->
						</div>
						<!-- Content wrapper end -->

						<!-- App Footer start -->
						<div class="app-footer">
							<span>© Arise admin 2023</span>
						</div>
						<!-- App footer end -->
					</div>
					<!-- Content wrapper scroll end -->
				</div>
				<!-- *************
				************ Main container end *************
			************* -->
			</div>
		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/modernizr.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/moment.js') }}"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="{{ url_for('static', filename='assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/overlay-scroll/custom-scrollbar.js') }}"></script>
		<!-- Date Range JS -->
		<script src="{{ url_for('static', filename='assets/vendor/daterange/daterange.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/daterange/custom-daterange.js') }}"></script>

		<!-- Bootstrap Select JS -->
		<script src="{{ url_for('static', filename='assets/vendor/bs-select/bs-select.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/bs-select/bs-select-custom.js') }}"></script>

		<!-- Main Js Required -->
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	</body>
</html>
